<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557826121072-382ao4b7krpl0p4nj6tpkd4ph4tae8an.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557826121072-382ao4b7krpl0p4nj6tpkd4ph4tae8an</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>557826121072-9kki80qu7eltuark9mfqgnff2tit9d5a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcJFMkm2t4jOTSAfWtJqBPDQJLQYAjSTE</string>
	<key>GCM_SENDER_ID</key>
	<string>557826121072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mwohaji</string>
	<key>PROJECT_ID</key>
	<string>mwohaji-c8a10</string>
	<key>STORAGE_BUCKET</key>
	<string>mwohaji-c8a10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557826121072:ios:120f31de6a47f968d783b5</string>
</dict>
</plist>