[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
instagrapi = "*"
pillow = "*"
pylint = "*"
black = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.11"